.header-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  line-height: 2em;

  text-align: center;
  background: linear-gradient(#d13140, #a02029);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.header-border {
  border-bottom: 2px solid lightgray;
}

.list-row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  line-height: 2em;
  color: black;
  background-color: white;
}

.row-border {
  border-bottom: 1px solid lightgray;
}
