.header-list {
  display: flex;
  background-color: white;
  width: 100%;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  line-height: 2em;
}

.header-border {
  border-bottom: 2px solid lightgray;
}

.list-row {
  display: flex;
  line-height: 2em;
  color: black;
  background-color: white;
}

.row-border {
  border-bottom: 1px solid lightgray;
}
