.clicker-view .minigame-wrapper {
  text-align: center;
  width: 100%;
}
.donut-container {
  width: 300px;
  height: 300px;
  border: none;
  display: block;
  overflow: hidden;
  transform:scale(1.0);
  animation: rotating 20s linear infinite;
}

.donut-container:hover {
  cursor: pointer;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board div  {
  flex-basis: 33%;
  flex-grow: 1;
}


.board div {
  animation: none;
}


.board div:nth-child(1) {
  text-align: left;
}
.board div:nth-child(1) div {
  display: inline;
  width: 50%;
}

.board div:nth-child(2) {
  display:flex;
  justify-content: center;
}

.board div:nth-child(2) div {
  width: 50%;

}

.board div:nth-child(4) {
  text-align: left;
    display: inline;
}

.board div:nth-child(4) div {
  display: inline;
  width: 50%;
}

.board img {
  width: 60px;
  height: 60px;
}

.board div img {
  opacity: 1;
}

.board div img.hidden {
  opacity: 0;
}

.donut-image {
    width: 300px;
    height: 300px;
    transition: all .6s ease;
}

.donut-container.clicked {
  transform:scale(0.95);
}

.toggled-one .donut-image {
  animation: click-animation-one .3s;
}

.toggled-two .donut-image {
  animation: click-animation-two .3s;
}

.donut-container.clicked .donut-image {
  transform:scale(0.95);
}

.scored-one {
  animation: click-scored-one .33s;
}

.scored-two {
  animation: click-scored-two .33s;
}

.bought-one img{
  animation: click-scored-one .4s;
}

.bought-two img{
  animation: click-scored-two .4;
}


#extra-points {
  transition: .2s;
}

#extra-points.visible-one {
  color: rgba(255,255,255,0);
  animation: get-points-one .3s;
  transform: translate(0, 0);
}

#extra-points.visible-two {
  color: rgba(255,255,255,0);
  animation: get-points-two .3s;
  transform: translate(0, 0);
}

.donut-constant {
  display: inline-block;
  line-height: 40px;
  font-size: 2em;
  margin-bottom: 10px;
}
.shop {
  width: 100%;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-start;
}

.shop div {
  min-width: 80px;
  min-height: 80px;
  margin: 0 10px;
  background-color: white;
  border-radius: 10px;
}


.shop div.locked img {
  opacity: 0.3;
}

.shop div.available img {
  opacity: 1;
}


.shop div.available:hover {
  animation: get-smaller .5s;
  transform: scale(0.971);
}

.shop div:hover {
  cursor: pointer;
}

.shop div img {
  max-height: 80px;
  max-width: 80px;
}
/*
.donut-container:hover .donut-image {
  transform:scale(0.95);
 }*/

 @keyframes rotating {
     from{
         transform: rotate(0deg);
     }
     to{
         transform: rotate(360deg);
     }
 }

 @keyframes get-smaller {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.71);
    }
    100% {
      transform: scale(0.971);
    }

}

@keyframes click-animation-one {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.89);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes click-animation-two {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes get-points-one {
  0% {
    color: rgba(255,255,255,1);
    top: 0%
  }
  100% {
    color: rgba(255,255,255,0);
    transform: translate(1px, -10px) scale(1.5);
  }
}

@keyframes get-points-two {
  0% {
    color: rgba(255,255,255,1);
    top: 0%
  }
  100% {
    color: rgba(255,255,255,0);
    transform: translate(-1px, -12px) scale(1.5);
  }
}



@keyframes click-scored-one {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.38);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes click-scored-two {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.54);
  }
  100% {
    transform: scale(1);
  }
}


 .donut-container:active {
   transform:scale(0.7);
 }
